<h2>WorkReportController#list</h2>
1
2
<%= labelled_form_for @report, :url => new_project_work_report_path(1), :html => {:multipart => true, :id => 'tab-content-general'} do |f| %>
  <%= f.text_area :content %>
  <%= f.submit l(:button_save) %>

<% end %>
